
//ENV EXAMPLE//

spring.datasource.url=DB_URL
spring.datasource.username=DB_USERNAME
spring.datasource.password=DB-PASSWORD
spring.datasource.hikari.initializationFailTimeout=60000
spring.datasource.hikari.connectionTimeout=30000


# ===============================
# Super Admin Details
# ===============================

superadmin.username=SUPERADMIN_USERNAME
superadmin.password=SUPERADMIN_PASSWORD
superadmin.name=SUPERADMIN_NAME
superadmin.email=SUPERADMIN_EMAIL


# ===============================
# Security / Secrets
# ===============================
secret.Key=JWT_SECRET_KEY
